.show-data {
    width: 500px;
}

.key{
    width: 100px;
    box-sizing: content-box;
    display:inline-block;
}

.data_field {
    width: 500px;
}

.common {
   margin: 10px;
}

#nav_buttons li a {
   font-size: 20px;
   padding: 10px 20px;
}